# Análise de Dados com Python

### Desafio:

Você trabalha em uma empresa do varejo e tem milhares de clientes diferentes.

Com o objetivo de aumentar o faturamento e o lucro da sua empresa, a diretoria quer conseguir identificar quem é o cliente ideal para seus produtos, baseado no histórico de compras dos clientes.

Para isso, ela fez um trabalho de classificar os clientes com uma nota de 1 a 100. Só que agora, sobrou para você conseguir, a partir dessa nota, descobrir qual o perfil de cliente ideal da empresa.

Qual a profissão? Qual a idade? Qual a faixa de renda? E todas as informações que você puder analisar para dizer qual o cliente ideal da empresa.

Base de Dados: https://drive.google.com/drive/folders/1T7D0BlWkNuy_MDpUHuBG44kT80EmRYIs?usp=share_link

In [24]:
#Passo a passo

# Passo 1: Importar a base de dados
import pandas as pd

tabela = pd.read_csv("clientes.csv", encoding="latin", sep=";")
# Deletar a coluna inútil
# axis = 0 se for linha; axis = 1 se for coluna
tabela = tabela.drop("Unnamed: 8", axis=1)

# Passo 2: Visualizar a base de dados
    # Entender as informações que você tem disponível
    # Procurar erros na base de dados

display(tabela)

,ClienteID,Origem,Idade,Salário Anual (R$),Nota (1-100),Profissão,Experiência Trabalho,Tamanho Família
0,1,Normal,19,15000,39,Saúde,1,4
1,2,Normal,21,35000,81,Engenheiro,3,3
2,3,Promoção,20,86000,2,Engenheiro,1,1
3,4,Promoção,23,59000,73,Advogado,0,2
4,5,Promoção,31,38000,48,Entretenimento,2,6
...,...,...,...,...,...,...,...,...
1995,1996,Promoção,71,184387,48,Artista,8,7
1996,1997,Promoção,91,73158,28,Doutor,7,7
1997,1998,Normal,87,90961,14,Saúde,9,2
1998,1999,Normal,77,182109,4,Executivo,7,2
1999,2000,Normal,90,110610,64,Entretenimento,5,2

In [25]:
# Passo 3: Tratamento de dados
# Acertar informações que estão sendo reconhecidos de forma errada
tabela["Salário Anual (R$)"] = pd.to_numeric(tabela["Salário Anual (R$)"], errors="coerce")
# Corrigir informações vazias
# display(tabela[tabela["Profissão"].isna()]) (Verificar colunas vazias)
tabela = tabela.dropna()
print(tabela.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1965 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ClienteID             1965 non-null   int64
 1   Origem                1965 non-null   object
 2   Idade                 1965 non-null   int64
 3   Salário Anual (R$)    1965 non-null   float64
 4   Nota (1-100)          1965 non-null   int64
 5   Profissão             1965 non-null   object
 6   Experiência Trabalho  1965 non-null   int64
 7   Tamanho Família       1965 non-null   int64
dtypes: float64(1), int64(5), object(2)
memory usage: 138.2+ KB
None

In [21]:
# Passo 4: Análise Inicial -> Entender as notas dos clientes

In [ ]:
# Passo 5: Análise Completa -> Entender como cada característica do cliente na nota